@{
	ViewData["Title"] = "Index";
}

<div class="center_format">
	<div class="main_block">
		<div class="poster_container">
			<img class="poster" alt="" src="https://media.kitsu.io/anime/poster_images/8000/original.png" />
		</div>
		<div class="info_container">
			<h2>Название</h2>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую</p>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую</p>
		</div>
	</div>

	<div>
		<button class="button-30" role="button">Сгенерировать</button>
	</div>
</div>

